

header{
height: 200px;
text-align: center;
background-color: orange;
}

#title{
    color: blue;
    font-size: 40px;
}

#biglietto{
    font-size: 20px;
}

main{
    height: calc(100vh - 200px);
    background-color: greenyellow;
}